body {
  margin: 0;
  padding: 0;
  background: url(../images/ethan_marcotte.jpg);
  background-size: 33.33%;
  background-repeat: no-repeat;
  background-color: #c6c6c6;
}

h1 {
  color: white;
}

.container {
  width: 66.6%;
  float: right;
  text-align: justify;
}

.container p {
  font-family: Verdana, Arial;
  font-size: 1.5em;
}
